body {
    background-color: #777;
    color: #777;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

div {
    background-color: #efefef;
    margin: 10px 5px;
    padding: 20px;
}

.article-matter {
    color: #777;
    padding: .025em;
}

#section {
    float: left;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    width: 58%;
    margin-bottom: 20px;
}

#article {
    background-color: #777;
    color: #efefef;
    padding: .5em;
}

#aside {
    float: right;
    width: 35%;
    margin-bottom: 20px;
    padding-bottom: 223px;
}

#footer {
    clear: both;
    display: block;
    margin-top: 20px;
}